@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9b59b6;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  outline: none;
  display: block;
  font-family: inherit;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
}

.form-control input:focus {
  border-color: #8e44ad;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74e3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 47px;
  right: 10px;
}

.form-control.form-control.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.form-control.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74e3c;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  color: #e74e3c;
  visibility: visible;
}

.form button {
  background-color: #8e44ad;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: white;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}
